{extend name="layout/add" /}
{block name="title"}添加权限组{/block}
{block name="form_block"}
<div class="layui-form-item">
    <label class="layui-form-label">权限组名</label>
    <div class="layui-input-inline">
        <input type="text" lay-verify="required" class="layui-input name" name="name"
               value="{:isset($role.title) ? $role.title : ''}">
    </div>
    <input name="id" value="" type="hidden" id="group_id">
</div>
<div class="layui-form-item">
    <label class="layui-form-label">权限菜单</label>
    <input type="checkbox" id="allCheck" lay-skin="primary" title="全选" lay-filter="allCheck" />
    <p style="clear: both;"></p>
    {foreach $menu as $title => $row}
    <div class="layui-input-block">
        <p style=""> {$title} </p>
        <hr  style= " width: 110px; background-color:transparent; height:1px;border:none;border-top:1px dashed #e6e6e6;  ">
        <div style="padding-left: 20px;" class="seach-box">
            {foreach $row.lists as $pid => $r}
            <input type="checkbox" name="menu[]" value="{$pid}" lay-skin="primary" title="{$r.name}" {:in_array($pid, $lists) ? 'checked' : ''} />
            {/foreach}
        </div>
        <hr>
    </div>
    {/foreach}
</div>
<script>
    layui.use(['form','layer'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.on('checkbox(allCheck)', function(data){
            var child = $(".seach-box input[type='checkbox']");
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

        form.on("submit(add)",function(data) {
            $.post('/index.php/group/add', data.field, function (res) {
                if (res.code > 0) {
                    layer.msg(res.msg, {icon: 2, time: 2000});
                } else if(res.code == 0) {
                    layer.msg(res.msg, {time: 500});
                    setTimeout(function(){
                        layer.closeAll("iframe");
                        //刷新父页面
                        parent.location.reload();
                    },2000);
                }else{
                    layer.msg('保存失败', {icon: 2, time: 500});
                }
            }, 'json');
            return false;
        });
    });
</Script>
{/block}
