{extend name="layout/list" /}
{block name="title"}公告列表{/block}
{block name="table"}
<table id="noticeList" lay-filter="noticeList"></table>
<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="is_show" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="noticeAction" {{ d.is_show == 1 ? 'checked' : '' }} />
</script>
<script type="text/javascript">
    layui.use(['layer','form','table'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            table = layui.table;

        var listId = 'noticeList';//对应列表的唯一ID


        form.on('switch(noticeAction)', function(obj){
            var id = this.value;
            var ck = obj.elem.checked;
            var at = ck ? '开启' : '关闭';

            $.get('/index.php/notice/add',{
                id : id,
                is_show : ck,
                action : 'switch'
            },function(res){
                if (res.code > 0) {
                    layer.tips(res.msg, obj.othis,{
                        tips: [2, '#FFB800'],
                        time: 2000
                    });
                } else {
                    layer.tips(res.msg, obj.othis,{
                        tips: [2, '#009688'],
                        time: 1000
                    });
                }
            });
        });

        //用户列表
        var tableIns = table.render({
            elem: '#noticeList',
            url : '/index.php/notice/getList',
            cellMinWidth : 95,
            page : true,
            height : "full-110",
            limits : {$page_list},
            limit : {$page_defult},
            id : listId,
            //toolbar: 'true', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            cols : [[
                {type: "checkbox", fixed:"left", width:50},
                {field: 'id', title: 'ID', width:50, align:"center"},
                {field: 'content', title: '内容', minWidth:200,align:"center"},
                {field: 'start_time', title: '开始时间',  align:"center"},
                {field: 'end_time', title: '结束时间', align:"center"},
                {field: 'is_show', title:'是否公告', width:85, templet: '#switchTpl', unresize: true},
                {field: 'create_time', title: '添加时间', align:"center"},
                {field: 'operator', title: '操作者',  align:"center"},
                {title: '操作', minWidth:110, templet:'#listBar',fixed:"right",align:"center"}
            ]]
        });

        //添加工作
        function add(edit){
            var index = layui.layer.open({
                title : "添加",
                type : 2,
                content : "/index.php/notice/add",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    if(edit){
                        body.find(".notice_id_text").text(edit.id);
                        body.find(".notice_id").val(edit.id);
                        body.find(".start_time").val(edit.start_time);
                        body.find(".end_time").val(edit.end_time);
                        if(edit.is_show) {
                            body.find(".is_show").attr("checked", true);
                        }else{
                            body.find(".is_show").attr("checked", false);
                        }
                        body.find(".content").val(edit.content);
                        form.render();
                    }
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回用户列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3,
                            time: 2000
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        $(".addNews_btn").click(function(){
            add();
        })

        //批量删除
        $(".delAll_btn").click(function(){
            var checkStatus = table.checkStatus(listId),
                data = checkStatus.data,
                id = [];
            if(data.length > 0) {
                for (var i in data) {
                    id.push(data[i].id);
                }
                layer.confirm('确定删除选中公告？', {icon: 3, title: '提示信息'}, function (index) {
                    $.get("/index.php/notice/del",{
                        id : id
                    },function(res){
                        if (res.code > 0) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg(res.msg, {time: 500});
                            setTimeout(function(){
                                tableIns.reload();
                            },500);
                            layer.close(index);
                        }
                    })
                })
            }else{
                layer.msg("请选择需要删除的公告");
            }
        })

        //列表操作//注：tool 是工具条事件名，userList 是 table 原始容器的属性 lay-filter="对应的值"
        table.on('tool('+listId+')', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'edit'){ //编辑
                add(data);
            }else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除这条公告？',{icon:3, title:'提示信息'},function(index){
                    $.get('/index.php/notice/del',{
                        id : data.id
                    },function(res){
                        if (res.code > 0) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg(res.msg, {time: 500});
                            setTimeout(function(){
                                tableIns.reload();
                            },500);
                            layer.close(index);
                        }
                    })
                });
            }
        });
    });
</script>
{/block}