<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{block name="title"|default='功能名称'}{/block}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    {include file="layout/static"}
    {block name="static"}{/block}
    <link rel="stylesheet" href="/static/css/public.css" media="all" />
    {block name="style_block"}{/block}
</head>
<body class="childrenBody">
    {block name="div_block"}{/block}
</body>
</html>