{extend name="layout/add" /}
{block name="title"}入库分配{/block}
{block name="form_block"}
<div class="layui-form-item layui-row layui-col-xs12">
    <label class="layui-form-label">ID</label>
    <div class="layui-input-inline">
        <input type="text" name="order_id" class="layui-input order_id" value="{$order_id}">
    </div>
</div>
<div class="layui-form-item layui-row layui-col-xs12">
    <label class="layui-form-label">名称</label>
    <div class="layui-input-inline">
        <input type="text" name="name" class="layui-input fix_name" lay-verify="required" placeholder="请输入维修名称">
    </div>
</div>
<script>
    layui.use(['form','layer'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.on("submit(add)",function(data) {
            $.post('/index.php/task/add', data.field, function (res) {
                if (res.code > 0) {
                    layer.msg(res.msg, {icon: 2, time: 2000});
                } else if(res.code == 0) {
                    layer.msg(res.msg, {time: 500});
                    setTimeout(function(){
                        layer.closeAll("iframe");
                        //刷新父页面
                        parent.location.reload();
                    },2000);
                }else{
                    layer.msg('保存失败', {icon: 2, time: 500});
                }
            }, 'json');
            return false;
        });
    });
</Script>
{/block}
