{extend name="layout/list" /}
{block name="title"}任务审核{/block}
{block name="script_block"}
<script type="text/html" id="listBar">
    <a class="layui-btn layui-btn-xs " lay-event="pass_task">审核通过</a>
</script>
{/block}
{block name="header"}
<blockquote class="layui-elem-quote quoteBox" >
    <form class="layui-form" lay-filter="search_from">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input order_id" placeholder="订单号" />
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>
    </form>
</blockquote>
{/block}
{block name="table"}
<style>
    .layui-table-cell {padding: 0 5px!important; text-align: center;}
</style>
<table id="list" lay-filter="list"></table>
<script type="text/javascript">
    layui.use(['layer','form','table','laydate'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            table = layui.table;

        var listId = 'taskList';//对应列表的唯一ID

        //列表
        var tableIns = table.render({
            elem: '#list',
            url : '/index.php/task/check',
            cellMinWidth : 100,
            page : true,
            height : "full-110",
            limits : {$page_list},
            limit : {$page_defult},
            id : listId,
            //toolbar: 'true', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            cols : [[
                {field: 'order_id', title: '诚和订单', minWidth:170, event: 'oid_copy', style:'cursor: pointer;'},
                {field: 'fix',      title: '维修类型', minWidth:80},
                {field: 'task_explain', title: '任务说明'},
                {field: 'status_txt',   title: '状态', width:80},
                {field: 'assess_prices',title: '估价', width:60},
                {field: 'prices',       title: '定价', width:60},
                {field: 'user_name',    title: '维修员', width:80},
                {title: '操作', minWidth:110, templet:'#listBar',fixed:"right"}
            ]]
        });

        //搜索
        $(".search_btn").on("click",function(){
            var order_id = $(".order_id").val();
            table.reload(listId,{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    order_id:order_id
                }
            })
        });

        //列表操作//注：tool 是工具条事件名，userList 是 table 原始容器的属性 lay-filter="对应的值"
        table.on('tool(list)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'pass_task'){
                var msg = '通过审核';
                layer.confirm('确定'+msg+'?',{icon:3, title:'提示信息'},function(index){
                    $.get('/index.php/task/check',{
                        id : data.id,
                        action : layEvent
                    },function(res){
                        if (res.code > 0) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg(res.msg, {time: 500});
                            setTimeout(function(){
                                tableIns.reload();
                            },500);
                            layer.close(index);
                        }
                    })
                });
            }
        });
    });
</script>
<script type="text/html" id="taskType">
    {{#  if(d.type_txt === '返修'){ }}
    <span style="color: #FFB800;">{{ d.type_txt }}</span>
    {{#  } else { }}
    {{ d.type_txt }}
    {{#  } }}
</script>
{/block}