{extend name="layout/list" /}
{block name="title"}任务列表{/block}
{block name="script_block"}
<script type="text/html" id="listBar">
    {{#  if(d.user_name === d.admin && d.is_ok === 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="finish_task">已完成</a>
    {{#  } }}
    {if $action != 'myTask'}
    <a class="layui-btn layui-btn-xs layui-bg-cyan" lay-event="task_label">标签</a>
    {{#  if(d.is_assign === 0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="assign_task">已派单</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    {/if}
</script>
{/block}
{block name="header"}
<blockquote class="layui-elem-quote quoteBox" >
    <form class="layui-form" lay-filter="search_from">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input order_id" placeholder="订单号" />
            </div>
            <div class="layui-input-inline $status_arr">
                <select name="status" class="status" >
                    <option value="">状态</option>
                    {foreach $status_arr as $key=>$v }
                    <option value="{$key}">{$v}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="uid" class="uid" >
                    {if !$selected}<option value="0">维修员</option>{/if}
                    {foreach $users as $k=>$v }
                    <option value="{$v.id}" {$selected == $v.id ? 'selected' : '' }>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>
    </form>
</blockquote>
{/block}
{block name="table"}
<table id="list" lay-filter="list"></table>
<script type="text/javascript">
    layui.use(['layer','form','table','laydate'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            table = layui.table,
            laydate = layui.laydate;

        var listId = 'taskList';//对应列表的唯一ID

        //列表
        var tableIns = table.render({
            elem: '#list',
            url : {if $action == 'myTask'}'/index.php/task/getList?uid={$uid}'{else}'/index.php/task/getList'{/if},
            cellMinWidth : 100,
            page : true,
            height : "full-110",
            limits : {$page_list},
            limit : {$page_defult},
            id : listId,
            //toolbar: 'true', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            cols : [[
                {field: 'order_id', title: '诚和订单', minWidth:170, event: 'oid_copy', style:'cursor: pointer;'},
                {field: 'type_txt', title: '任务', width:60, templet: '#taskType'},
                {field: 'fix',      title: '维修类型', minWidth:80},
                {field: 'task_explain', title: '任务说明'},
                {field: 'status_txt',   title: '状态', width:80},
                {field: 'assess_prices',title: '估价', width:60},
                {field: 'prices',       title: '定价', width:60},
                {field: 'user_name',    title: '维修员', width:80},
                {field: 'repair_order', title: '返修订单', event: 'repoid_copy', style:'cursor: pointer;'},
                {field: 'create_time',  title: '入库时间',},
                {field: 'finish_time',  title: '完成时间',},
                {title: '操作', minWidth:110, templet:'#listBar',fixed:"right"}
            ]]
        });

        //搜索
        $(".search_btn").on("click",function(){
            var order_id = $(".order_id").val();
            var status =  $(".status option:selected").val();
            table.reload(listId,{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    status: status,  //搜索的关键字
                    order_id:order_id
                }
            })
        });

        //添加
        function edit(edit, title){
            var index = layui.layer.open({
                title : title,
                type : 2,
                content : "/index.php/task/add",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    if(edit){
                        body.find(".order_type option[value="+order_type+"]").attr("selected",true);
                        body.find(".repair_order_div").show();
                        body.find(".repair_order").attr("lay-verify","required");
                        body.find(".repair_order").val(edit.order_id);
                        body.find(".name").val(customer.name);
                        body.find(".phone_number").val(customer.phone_number);
                        body.find(".postal_code").val(customer.postal_code);
                        body.find(".address").val(customer.address);
                        body.find(".customer_id").val(customer.id);
                        var offset = body.find(".customer_keywords").offset();
                        body.find(".autoMain").css("top",offset.top+53).css("left",offset.left);
                        form.render();
                    }
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3,
                            time: 2000
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        function addTask(data, title) {
            var index = layui.layer.open({
                title : title,
                type : 2,
                content : "/index.php/task/add?oid="+data.order_id+"&rep_oid="+data.repair_order+"&action=task_label",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    if(data){
                        body.find('#add_task_div').hide();
                        body.find('#task_label').show();
                        body.find('#fix_txt').html(data.fix);
                        body.find('#fix_user').html(data.user_name);
                        body.find('#task_time').html(data.create_time);
                        body.find('#task_explain').html(data.task_explain);
                    }
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3,
                            time: 2000
                        });
                    },500)
                },
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        //列表操作//注：tool 是工具条事件名，userList 是 table 原始容器的属性 lay-filter="对应的值"
        table.on('tool(list)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'task_label'){
                addTask(data, '任务标签');
            }else if(layEvent === 'oid_copy' || layEvent === 'repoid_copy'){
                var copyText = data.order_id;//获取对象
                if(layEvent === 'repoid_copy') copyText = data.repair_order;
                if(copyText == '') return false;
                copy(copyText);
                layer.msg('复制成功', {time: 1000});

            }else if(layEvent === 'assign_task'){ //已派单
                if(data.status >= 2){
                    layer.msg('已派过单啦，不要重复操作哟', {icon: 7, time: 2000});
                    return false;
                }
                layer.confirm('确定已将任务派送至维修员处?',{icon:3, title:'提示信息'},function(index){
                    $.get('/index.php/task/assignTask',{
                        id : data.id,
                        order_id : data.order_id
                    },function(res){
                        if (res.code > 0) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg(res.msg, {time: 500});
                            setTimeout(function(){
                                tableIns.reload();
                            },500);
                            layer.close(index);
                        }
                    })
                });
            }else if(layEvent === 'finish_task'){
                if(data.status >= 3){
                    layer.msg('任务维修完成，不要重复操作哟', {icon: 7, time: 2000});
                    return false;
                }
                var index = layui.layer.open({
                    title : '任务完成',
                    type : 2,
                    content: '/index.php/task/finishTask?order_id='+data.order_id+'&assess_prices='+data.assess_prices,
                    success : function(layero, index){
                        setTimeout(function(){
                            layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                                tips: 3,
                                time: 2000
                            });
                        },500)
                    }
                })
                layui.layer.full(index);
                window.sessionStorage.setItem("index",index);
                //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
                $(window).on("resize",function(){
                    layui.layer.full(window.sessionStorage.getItem("index"));
                })
            }else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除此订单?',{icon:3, title:'提示信息'},function(index){
                    $.get('/index.php/task/del',{
                        id : data.id
                    },function(res){
                        if (res.code > 0) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg(res.msg, {time: 500});
                            setTimeout(function(){
                                tableIns.reload();
                            },500);
                            layer.close(index);
                        }
                    })
                });
            }
        });
    });
</script>
<script type="text/html" id="taskType">
    {{#  if(d.type_txt === '返修'){ }}
    <span style="color: #FFB800;">{{ d.type_txt }}</span>
    {{#  } else { }}
    {{ d.type_txt }}
    {{#  } }}
</script>
{/block}