{extend name="layout/add" /}
{block name="title"}系统配置{/block}
{block name="form_block"}
{foreach $keys as $k => $v}
<div class="layui-form-item layui-row layui-col-xs12">
    <label class="layui-form-label">{$v.title}</label>
    <div class="layui-input-inline">
        <input type="text" name="{$k}k" placeholder="请输入{$v.title}" lay-verify="required{$v.rule ? '|'.$v.rule : ''}" class="layui-input"
               value="{$sets[$k] ? $sets[$k] : '' }">
    </div>
    <div class="layui-form-mid layui-word-aux">{$v.explain}</div>
</div>
{/foreach}
<script>
    layui.use(['form','layer'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.on("submit(add)",function(data) {
            $.post('/index.php/set/edit', data.field, function (res) {
                if (res.code > 0) {
                    layer.msg(res.msg, {icon: 2, time: 2000});
                } else if(res.code == 0) {
                    layer.msg(res.msg, {icon: 1, time: 1000});
                    setTimeout(function(){
                        form.render();
                    },1000);
                }else{
                    layer.msg('保存失败', {icon: 2, time: 500});
                }
            }, 'json');
            return false;
        });
    });
</Script>
{/block}
