{extend name="layout/list" /}
{block name="title"}订单列表{/block}
{block name="header"}
<blockquote class="layui-elem-quote quoteBox" >
    <form class="layui-form" lay-filter="search_from">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input customer_express" placeholder="运单号" />
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input order_id" placeholder="订单号" />
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input date_time" id="orderTime" placeholder="开始时间 - 结束时间">
            </div>
            <div class="layui-input-inline $status_arr">
                <select name="status" class="status" >
                    <option>全部</option>
                    {foreach $status_arr as $key=>$v }
                    <option value="{$key}">{$v}</option>
                    {/foreach}
                </select>
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-normal addNews_btn">添加</a>
        </div>
    </form>
</blockquote>
{/block}
{block name="script_block"}
<script type="text/html" id="listBar">
    <a class="layui-btn layui-btn-xs" lay-event="add_task">入库</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="order_track">追踪</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="order_repair">返修</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
{/block}
{block name="table"}
<table id="list" lay-filter="list"></table>
<script type="text/javascript">
    layui.use(['layer','form','table','laydate'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            table = layui.table,
            laydate = layui.laydate;

        var listId = 'orderList';//对应列表的唯一ID

        //日期时间选择器
        laydate.render({
            elem: '#orderTime'
            ,type: 'datetime'
            ,range: true
        });

        //列表
        var tableIns = table.render({
            elem: '#list',
            url : '/index.php/order/getList',
            cellMinWidth : 95,
            page : true,
            height : "full-110",
            limits : {$page_list},
            limit : {$page_defult},
            id : listId,
            //toolbar: 'true', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            cols : [[
                {field: 'customer_express', title: '运单号', align:"center", minWidth:200 },
                {field: 'customer',     title: '客户',    align:"center"},
                {field: 'order_id',     title: '诚和订单', align:'center', minWidth:200 },
                {field: 'channel',      title: '渠道',    align:'center'},
                {field: 'prices',       title: '价格',    align:'center'},
                {field: 'status_txt',   title: '状态',    align:'center'},
                {field: 'create_time',  title: '下单时间', align:'center'},
                {field: 'finish_time',  title: '完成时间', align:'center'},
                {title: '操作', minWidth:210, templet:'#listBar',fixed:"right",align:"center"}
            ]]
        });

        //搜索
        $(".search_btn").on("click",function(){
            var customer_express = $(".customer_express").val();
            var order_id = $(".order_id").val();
            var date_time = $(".date_time").val();
            var status =  $(".status option:selected").val();
            table.reload(listId,{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    customer_express:customer_express,
                    status: status,  //搜索的关键字
                    order_id:order_id,
                    date_time:date_time
                }
            })
        });

        //添加
        function add(edit, title, order_type){
            var index = layui.layer.open({
                title : title,
                type : 2,
                content : "/index.php/order/addOrder",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    if(edit){
                        var customer = edit.customer_info;
                        body.find(".order_type option[value="+order_type+"]").attr("selected",true);
                        body.find(".repair_order_div").show();
                        body.find(".repair_order").attr("lay-verify","required");
                        body.find(".repair_order").val(edit.order_id);
                        body.find(".name").val(customer.name);
                        body.find(".phone_number").val(customer.phone_number);
                        body.find(".postal_code").val(customer.postal_code);
                        body.find(".address").val(customer.address);
                        body.find(".customer_id").val(customer.id);
                        var offset = body.find(".customer_keywords").offset();
                        body.find(".autoMain").css("top",offset.top+53).css("left",offset.left);
                        form.render();
                    }
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3,
                            time: 2000
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        $(".addNews_btn").click(function(){
            add('', '订单添加', 1);
        })
        
        function openTarck(data, title) {
            var index = layui.layer.open({
                title : title,
                type : 2,
                content : "/index.php/order/orderTrack?oid="+data.order_id,
                success : function(){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3,
                            time: 2000
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        function addTask(data, title) {
            var index = layui.layer.open({
                title : title,
                type : 2,
                content : "/index.php/task/add?oid="+data.order_id,
                success : function(){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3,
                            time: 2000
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        //列表操作//注：tool 是工具条事件名，userList 是 table 原始容器的属性 lay-filter="对应的值"
        table.on('tool(list)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'add_task'){ //入库
                addTask(data, '入库分配');
            }else if(layEvent === 'order_track'){
                openTarck(data, '订单追踪');
            }else if(layEvent === 'order_repair'){
                if(data.status != 7 || data.status != 9){
                    layer.msg('订单还没有完成，不能进行返修操作', {icon: 7, time: 2000});
                    return false;
                }
                add(data, '订单返修', 2);
            }else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除此订单?',{icon:3, title:'提示信息'},function(index){
                    $.get('/index.php/order/del',{
                        id : data.id
                    },function(res){
                        if (res.code > 0) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        } else {
                            layer.msg(res.msg, {time: 500});
                            setTimeout(function(){
                                tableIns.reload();
                            },500);
                            layer.close(index);
                        }
                    })
                });
            }
        });
    });
</script>
{/block}