{extend name="layout/add" /}
{block name="title"}添加员工{/block}
{block name="filter_block"} lay-filter="addUser" {/block}
{block name="form_block"}
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="user_name" class="layui-input user_name" lay-verify="required" placeholder="请输入用户名">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">工号</label>
        <div class="layui-input-inline">
            <input type="text" name="number" class="layui-input number" lay-verify="required|number" placeholder="请输入工号">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" class="layui-input real_name" lay-verify="required" placeholder="请输入真实姓名">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" class="layui-input" placeholder="请输入密码">
        </div>
        <div class="layui-form-mid layui-word-aux password_text">密码不填则默认用户名+123</div>
    </div>
    <div class="magb15 layui-col-md4 layui-col-xs12">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline userSex">
            <input type="radio" name="sex" value="1" title="男" checked>
            <input type="radio" name="sex" value="2" title="女">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">工作部门</label>
        <div class="layui-input-inline work_id">
            <select name="work_id" lay-verify="required" lay-search>
                <option></option>
                {foreach $work as $row}
                <option value="{$row['id']}" >{$row['work']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-inline role_id">
            <select name="role_id" lay-verify="required" lay-search>
                <option></option>
                <option value="1" >普通员工</option>
                <option value="2" >系统管理员</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline status">
            <select name="status">
                <option value="0" selected >正常</option>
                <option value="1" >禁用</option>
            </select>
        </div>
    </div>
    <input type="hidden" class="edit_id" name="edit_id" value="">
    <input type="hidden" class="action" name="action" value="add">
<script>
layui.use(['form','layer'],function(){
    var form = layui.form,
        layer = layui.layer,
    $ = layui.jquery;

    form.on("submit(addUser)",function(data) {
        $.post('/index.php/worker/addWorker', data.field, function (res) {
            if (res.code > 0) {
                layer.msg(res.msg, {icon: 2, time: 2000});
            } else {
                layer.msg(res.msg, {time: 500});
                setTimeout(function(){
                    layer.closeAll("iframe");
                    //刷新父页面
                    parent.location.reload();
                },2000);
            }
        }, 'json');
        return false;
    });
});
</Script>
{/block}
